/lib/libsnowboy-detect.a
snowboy-detect-swig.cc
snowboydetect.py
Snowboy.pm
.DS_Store

*.dylib
*.pyc
*.o
*.so
*.swp
*.swo


./snowboy/examples/C/pa_stable_v19_20140130.tgz
./snowboy/examples/C/pa_stable_v190600_20161030.tgz
./snowboy/examples/C/portaudio
./snowboy/examples/C/demo
./snowboy/examples/C++/pa_stable_v19_20140130.tgz
./snowboy/examples/C++/pa_stable_v190600_20161030.tgz
/snowboy/examples/C++/portaudio
/snowboy/examples/C++/demo
/snowboy/examples/C++/demo2
/snowboy/examples/Java/Demo.class
/snowboy/examples/Perl/data/
/snowboy/examples/iOS/Obj-C/Pods/Pods.xcodeproj/xcuserdata/
/snowboy/examples/iOS/Obj-C/SnowboyTest.xcodeproj/project.xcworkspace/xcuserdata/
/snowboy/examples/iOS/Obj-C/SnowboyTest.xcodeproj/xcuserdata/
/snowboy/examples/iOS/Obj-C/SnowboyTest.xcworkspace/xcuserdata/
/snowboy/examples/iOS/Swift3/SnowboyTest.xcodeproj/project.xcworkspace/xcuserdata/
/snowboy/examples/iOS/Swift3/SnowboyTest.xcodeproj/xcuserdata/
/snowboy/examples/Android/*
/snowboy/examples/iOS/*
/snowboy/examples/Perl/*
/snowboy/examples/Java/*
/snowboy/examples/C++/*
/snowboy/examples/C/*


/snowboy/swig/Android/*
/snowboy/swig/Java/*
/snowboy/swig/Perl/*
/snowboy/swig/Java/*
/snowboy/swig/Android/OpenBLAS-0.2.18.tar.gz
/snowboy/swig/Android/android-ndk-r11c-darwin-x86_64.zip
/snowboy/swig/Android/android-ndk-r14b-darwin-x86_64.zip
/snowboy/swig/Android/android-ndk-r11c-linux-x86_64.zip
/snowboy/swig/Android/OpenBLAS-Android/
/snowboy/swig/Android/OpenBLAS-Android-ARM32/
/snowboy/swig/Android/android-ndk-r11c/
/snowboy/swig/Android/android-ndk-r14b/
/snowboy/swig/Android/ndk_install/
/snowboy/swig/Android/ndk_install_32bit/
/snowboy/swig/Android/java/
/snowboy/swig/Android/jniLibs/
/snowboy/swig/Java/java/
/snowboy/swig/Java/jniLibs/

/snowboy/build
/snowboy/node_modules
/snowboy/lib/node/binding
/snowboy/lib/node/index.js

/dist
**/snowboy.egg-info
/.idea
